header {
    display: grid;
    justify-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4rem;
}

img {
    max-width: 100%;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    max-width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    gap: 1rem;
}


.productlist article.soldOut img {
    opacity: 0.7;
}

.productlist article.soldOut::before {
    content: "Sold Out";
    position: absolute;
    top: 0;
    left: 0;
    background: var(--color);
    color: var(--background-color);


}

.productlist article .discount,
.productlist article .priceItem span {
    display: none;
}

.productlist article.onSale .discount {
    display: flex;
    justify-content: space-between;
}

.discount>p {
    margin-bottom: 0;
}

.productlist article.onSale .priceItem span {
    display: initial;
}

.productlist article {
    margin-bottom: 1rem;
}

.category {
    display: grid;
    border: 0.1em solid black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
}

.categorylist {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    max-width: 100%;
    border: dotted black 0.5em;
    column-gap: 10%;
    row-gap: 50%;


}

/* cant get my justify-content/item to work */


.categorylist a {
    display: grid;
    justify-items: center;
    font-size: 2rem;
    max-width: 100%;


}

#h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    border: 0.2rem solid black;
    display: grid;
    justify-items: center;
}


.product {
    display: grid;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.productlist {

    display: grid;
    justify-items: center;
}

.img2 {
    width: 50%;
    margin-left: 5rem;

}

a {
    color: black;
}



ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    font-size: 20px;
    column-gap: 5%;
}



.productimage {
    width: 50%;
}

.productinfo {



    border: 0.1em solid black;


}

.sectioninfo {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

#producth2 {
    font-size: 40px;
    display: grid;

}

#buy {
    display: grid;
    justify-items: center;
    font-size: 50px;
}


/* .navbar {
    display: grid;
    column-gap: 10%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


} */



@media screen and (min-width: 500px) {
    header main nav {
        display: grid;
        column-count: 2;
    }
}


.smallProduct {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    position: relative;
}