#header1 {
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;

}

.category {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 20px;
    row-gap: 100px;


}

.categorylist {
    display: grid;
    justify-items: center;

    border: 0.2em black solid;


}



.img {
    width: 20%;




}